body {
    background-color: #e6f3ff;
    padding: 12%;
}

.tagline {
    color: blueviolet;
    font-style: italic;
}

img {
    float: right;
}

.pricetopic {
    padding-top: 150px;
    font-size: 25px;
    font-weight: bold;
}

table {
    border: 1px solid black;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 16px;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;

}
